*{/*Zerando as bordas do site*/
	padding: 0;
	margin: 0;
}

html,body{/*Definindo tamanho para html e body*/
	height: 100%;
}

.menu{/*Estilo do menu do site*/
	height: 40px;/*Definindo altura*/
	text-align: left;/*Definindo alinhamento a esquerda*/
	width: 1080px;/*Definindo largura*/
	margin: 5px auto;/*Definindo margem entre os elementos*/
	padding: 5px;/*Definindo margem externa*/
	vertical-align: center;/*Definindo alinhamento vertical*/
}

.menu a{/*Definições para os links*/
	margin: auto;/*Margem da div*/
	height: 40px;/*Definindo altura*/
	margin-left: 60px;/*Definindo margem a esquerda*/
	font-size: 20px;/*Definindo tamanho da fonte da letra*/
	color: black;/*Definindo cor da letra*/
	text-decoration: none;/*Removendo sublinhado do link*/
	padding: 5px;/*Espaçamento interno*/
	font-weight: bold;/*Definindo fonte bold*/
}

.menu span{/*Editando logomarca para ficar com duas cores part 1*/
	font-size: 20px;/*Definindo tamanho da fonte*/
	font-weight: bold;/*Definindo fonte como bold*/
	color: rgba(51, 0, 255, 1.0);/*Definindo cor da fonte*/
}

.menu .span2{/*Concluindo a edição da logomarca*/
	color: black;/*Definindo a cor*/
	margin-right: 35px;/*Definindo margem a direita*/
}

.menu a:hover{/*Função para mudar a cor da letra ao colocar o mouse em cima do link*/
	color: rgba(51, 0, 255, 1.0);/*Definindo para mudar a cor da letra ao passar o mouse em cima*/
}/*Estilo do menu do site*/




.sobre_a_empresa{/*Estilização primeira parte do site*/
	width: 1080px;/*Largura*/
	text-align: center;/*Alinhamento*/
}

.titulos{/*Titulos*/
	text-align: left;/*Alinhamento a esquerda*/
	margin-right: 25px;/*Margem a direita*/
	display: inline-block;/*Elementos na mesma linha*/
	vertical-align: top;/*Alinhamento vertical*/
}

.sobre_a_empresa h5{/*Economia|eficiencia|efetividade*/
	margin-top: 20px;/*Margem a cima*/
	color: rgba(51, 0, 255, 1.0);/*Cor*/
	margin-bottom: 15px;/*Margem a baixo*/
}

.sobre_a_empresa h3{/*Titulo*/
	font-size: 35px;/*Tamanho da fonte*/
	width: 500px;/*Largura*/
}

.sobre_a_empresa span{/*Exemplo2*/
	color: rgba(51, 0, 255, 1.0);/*Cor*/
	font-size: 35px;/*Tamanho da letra*/
}


.sobre_a_empresa p{/*Parágrafo*/
	display: inline-block;/*Elementos na mesma linha*/
	width: 250px;/*Largura*/
	line-height: 20px;/*Espaçamento entre linhas*/
	margin-top: 5px;/*Margem a cima*/
}

.img_empresa{/*Imagem sobre nossa companhia*/
	display: inline-block;/*Elementos na mesma linha*/
	margin-top: 20px;/*Margem a cima*/
}/*Imagem sobre a empresa inicio do site*/

.imagem_completa img{/*Imagem completa do site*/
	margin-left: 15px;/*Margem a esquerda*/
	margin-top: 15px;/*Margem a cima*/
	margin-bottom: 20px;/*Margem a baixo*/
	width: 990px;/*Largura*/
	height: 550px;/*Altura*/
}/*Imagem completa do site*/

.resultado{/*Inicio dos blocos de resultados*/
	width: 1080px;/*Largura*/
	text-align: center;/*Alinhamento*/
}

.resultado div{/*Resultado*/
	border-color: rgba(228, 228, 228, 1.0);/*Escolhe a cor da borda*/
	border-width: 2px;/*Escolhe a largura da borda*/
	border-style: solid;/*Define o tipo de borda, nesse modelo estou usando a borda normal*/
	width: 160px;/*Largura*/
	height: 115px;/*Altura*/
	display: inline-block;/*Elementos na mesma linha*/
	text-align: center;/*Alinhamento */
	padding: 8px;/*Alinhamento interno*/
	margin-left: 45px;/*Margem a esquerda*/
}

.resultado h4{
	color: rgba(51, 0, 255, 1.0);
}/*Final dos blocos de resultados*/

.mission{/*Bloco missão da empresa*/
	width: 1080px;/*Largura*/
	text-align: center;/*Alinhamento*/
	margin-top: 40px;/*Margem a cima*/
}

.missao p{/*Texto*/
	font-size: 20px;/*Fonte da letra*/
	margin-top: 15px;/*Margem a cima*/
	line-height: 25px;/*Espaçamento entre as linhas*/
	color: rgba(90, 90, 90, 1.0);/*Cor */
}

.missao h4{/*Titulo do bloco*/
	font-size: 30px;/*Tamanho da fonte*/
	line-height: 28px;/*Espaçamento entre linhas*/
}

.missao h6{/*Titulo pequeno em cima do título grande*/
	font-size: 15px;/*Tamanho da fonte*/
}

.missao{/*Bloco principa construir melhor para melhor economia*/
	vertical-align: top;/*O texto fica na parte superior*/
	line-height: 20px;/*Espaçamento entre as linhas*/
	text-align: left;/*Alinhamento do texto*/
	width: 500px;/*Largura*/
	display: inline-block;/*Elementos na mesma linha*/
}

.img_bloco{/*Imagem construir melhor para melhor economia*/
	margin-left: 20px;/*Margem a esquerda*/
	display: inline-block;/*Elementos na mesma linha*/
}

.missao button{/*Botão construir melhor para melhor economia*/
	margin-top: 10px;/*Margim a cima*/
	width: 140px;/*Largura*/
	height: 35px;/*Altura*/
	background-color: rgba(51, 0, 255, 1.0);/*Cor de fundo*/
	color: white;/*Cor da letra*/
	border-style: none;/*Removendo borda do elemento*/
	border-radius: 360px;/*Borda arredondada*/
}

.missao span{/*Multicor da letra*/
	color: rgba(51, 0, 255, 1.0);/*Cor da letra*/
}

.missao h4{/*Título*/
	color: black;/*Definindo cor*/
}
.missao h6{/*Nome pequeno acima do titulo*/
	color: rgba(51, 0, 255, 1.0);/*Definindo cor*/
}/*Final do Bloco construir melhor para a economia*/

.produtos{/*Inicio bloco Acreditamos no poder da união e do trabalho em equipe*/
	margin-top: 40px;/*Margem de cima*/
	width: 1080px;/*Largura*/
	text-align: center;/*Alinhamento*/
	
}

.produtos_txt{/*Bloco texto acreditamos no poder da união*/
	vertical-align: top;/*Alinhando elementos ao topo*/
	display: inline-block;/*Elementos na mesma linha*/
	width: 500px;/*Largura*/
	text-align: left;/*Alinhamento horizontal*/
}

.img_pro{/*Imagem Acreditamos no poder da união*/
	margin-right: 20px;/*Margem a direita*/
	display: inline-block;/*Elementos na mesma linha*/
}

.img_pro img{/*Definindo borda da imagem*/
	border-radius: 10px;/*Borda arredondada*/
}

.produtos_txt h4{/*Acreditamos no poder da união*/
	line-height: 35px;/*Espaçamento entre linhas*/
	font-size: 30px;/*Tamanho da fonte*/
	color: black;/*Cor*/
}

span{/*Definindo segunda cor da logo marca*/
	color: rgba(51, 0, 255, 1.0);/*Cor*/
}

.produtos_txt p{/*Paragrafo da div acreditamos no poder da união e do trabalho em equipe*/
	margin-top: 10px;/*Margem do topo*/
	font-size: 18px;/*Tamanho da fonte da letra*/
	color: rgba(90, 90, 90, 1.0);/*Cor da letra*/
}

.produtos_txt button{/*Botão da div acreditamos no poder da união e do trabalho em equipe*/
	background: rgba(51, 0, 255, 1.0);/*Cor de fundo*/
	color: white;/*Cor da letra*/
	width: 140px;/*Largura*/
	height: 35px;/*Altura*/
	border-radius: 360px;/*Formato da borda*/
	border-style: solid;/*Estilo do contorno*/
	border-color: rgba(51, 0, 255, 1.0);/*Cor do contorno*/
	margin-top: 15px;/*Margem de cima*/
}

.produtos_txt h6{/*Nossa missão*/
	font-size: 15px;/*Tamanho da fonte*/
	color: rgba(51, 0, 255, 1.0);/*Cor da fonte*/
}/*Final do bloco Acreditamos no poder da união e do trabalho em equipe*/

.equipe{/*Inicio do bloco A nossa Incrível equipe*/
	line-height: 25px;
	width: 1080px;/*Definindo largura do elemento*/
	text-align: center;/*Definindo alinhamento central*/
	background-color: rgba(51, 0, 255, 1.0);/*Definindo cor de fundo*/
	margin-top: 40px;/*Definindo margem do topo*/
}

.equipe_txt{/*Definindo estilo para elementos de titulo*/
	margin-top: 10px;/*Definindo margem do topo*/
	margin-bottom: 10px;/*Definindo margem de baixo*/
	color: white;/*Definindo cor da letra*/
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover, .card6:hover, .card7:hover, .card8:hover{/*Definindo efeito ao passar o mouse em cima do elemento*/
	width: 280px;/*Definindo largura*/
	height: 260px;/*Definindo altura*/
	margin-top: 15px;/*Definindo margem a cima ao passar o mouse por cima*/
}

.div_nav a:hover, .div_suporte a:hover{/*Links do rodapé*/
	text-decoration: underline;
	color: rgba(51, 0, 255, 1.0);
}

 


.card1{/*Card Mariane Barbosa*/
	display: inline-block;/*Definindo que todos permaneçam na mesma linha*/
	width: 220px;/*Definindo a largura*/
	height: 210px;/*Definindo altura*/
	background-color: white;/*Definindo a cor de fundo*/
	border-radius: 6px;/*Borda arredondada*/
}

.card1 h2{/*Nome do funcionário*/
	margin-top: 5px;/*Margem a cima*/
	font-size: 22px;/*Tamanho da fonte*/
}

.card2{/*Card Artur da Mata*/
	margin-left: 30px;/*Definindo a margem a esquerda*/
	display: inline-block;/*Definindo que todos permaneçam na mesma linha*/
	width: 220px;/*Definindo a largura*/
	height: 210px;/*Definindo altura*/
	background-color: white;/*Definindo cor de fundo*/
	border-radius: 6px;/*Borda arredondada*/
}

.card img{/*Imagens dos funcionários*/
	border-radius: 6px;/*Borda arredondada*/
	width: 100%;/*Definindo largura*/
	height: 70%;/*Definindo altura*/
}

.card2 h2{/*Nome do funcionário*/
	margin-top: 5px;/*Margem de cima*/
	font-size: 22px;/*Tamanho da fonte*/
}


.card3{/*Card Stella Cardoso*/
	display: inline-block;/*Definindo que todos permaneçam na mesma linha*/
	background-color: white;/*Definindo a cor de fundo*/
	width: 220px;/*Definindo largura*/
	height: 210px;/*Definindo altura*/
	margin-left: 30px;/* Definindo margem a esquerda*/
	border-radius: 8px;/*Borda arredondada*/
}

.card3 h2{/*Nome do funcionário*/
	margin-top: 5px;/*Margem de cima*/
	font-size: 22px;/*Tamanho da fonte*/
}


.card4{/*Card Renan Campos*/
	background-color: white;/*Definindo cor de fundo*/
	margin-left: 30px;/* Definindo margem a esquerda */
	display: inline-block;/*Definindo que todos permaneçam na mesma linha*/
	height: 210px;/*Definindo altura*/
	width: 220px;/*Definindo largura*/
	border-radius: 8px;/*Borda arredondada*/
}

.card4 h2{/*Nome do funcionário*/
	margin-top: 5px;/*Margem de cima*/
	font-size: 22px;/*Tamanho da fonte*/
}


.card5{/*Card Isabella*/
	display: inline-block;/*Elementos na mesma linha*/
	background-color: white;/*Cor de fundo*/
	height: 210px;/*Altura*/
	width: 220px;/*Largura*/
	border-radius: 8px;/*Borda arredondada*/
}

.card5 h2{/*Nome do funcionário*/
	margin-top: 5px;/*Margem de cima*/
	font-size: 22px;/*Tamanho da fonte*/
}


.card6{/*Card Bryan*/
	display: inline-block;/*Elementos na mesma linha*/
	width: 220px;/*Largura*/
	height: 210px;/*Altura*/
	background-color: white;/*Cor de fundo*/
	margin-left: 30px;/*Margem a esquerda*/
	border-radius: 8px;/*Borda arredondada*/
}

.card6 h2{/*Nome do funcionário*/
	margin-top: 5px;/*Margem de cima*/
	font-size: 22px;/*Tamanho da fonte*/
}


.card7{/*Card lARA*/
	display: inline-block;/*Elementos na mesma linha*/
	width: 220px;/*Largura*/
	height: 210px;/*Altura*/
	background-color: white;/*Cor de fundo*/
	margin-left: 30px;/*Margem a esquerda*/
	border-radius: 8px;/*Borda arredondada*/
}

.card7 h2{/*Nome do funcionário*/
	margin-top: 5px;/*Margem de cima*/
	font-size: 22px;/*Tamanho da fonte*/
}


.card8{/*Card Davi*/
	display: inline-block;/*Elemento na mesma linha*/
	width: 220px;/*Largura*/
	height: 210px;/*Altura*/
	background-color: white;/*Cor de fundo*/
	margin-left: 30px;/*Margem esquerda*/
	margin-top: 15px;/*Margem a cima*/
	margin-bottom: 15px;/*Margem a baixo*/
	border-radius: 8px;/*Borda arredondada*/
}

.card8 h2{/*Editando o Nome dos funcionários*/
	margin-top: 5px;/*Definindo margem a cima*/
	font-size: 22px;/*Definindo tamanho da letra*/
}

.card h5{/*Editando descrição de função dos funcionários*/
	color: rgba(51, 0, 255, 1.0);/*Definindo cor da função dos funcionários*/
}


.equipe button{/*Editando o botão*/
	font-weight: bold;/*Definindo tipo da fonte como bold*/
	width: 200px;/*Definindo largura*/
	height: 40px;/*Definindo altura*/
	border-style: solid;/*Definindo tipo da borda*/
	border-color: rgba(51, 0, 255, 1.0);/*Definindo cor da borda*/
	border-radius: 360px;/*Definindo Borda arredondada*/
	color: rgba(51, 0, 255, 1.0);/*Definindo cor da letra*/
	background-color: white;/*Definindo cor de fundo*/
	margin-bottom: 15px;/*Definindo margem a baixo*/
	margin-top: 5px;/*Definindo margem a cima*/
}/*Final do bloco A nossa Incrível equipe*/

.endereco{/*Inicio endereço*/
	width: 1080px;/*Largura*/
	text-align: center;/*Alinhamento*/
}

.titulo_endereco{/*endereço*/
	margin-left: 100px;/*margem a esquerda*/
	width: 600px;/*Largura*/
	text-align: left;/*Alinhamento*/
}

.titulo_endereco h5{/*exemplo 2*/
	color: rgba(51, 0,255, 1.0);/*cor*/
	margin-bottom: 10px;/*margem a baixo*/
	margin-top: 20px;/*margem a cima*/
}

.titulo_endereco h2{/*titulo*/
	margin-bottom: 5px;/*margem a baixo*/
}

.titulo_endereco p{/*texto*/
	color: rgba(90, 90, 90, 1.0);/*cor*/
}

.menos, .mais{/*Botão mais e menos*/
	font-weight: bold;/*Estilo da fonte*/
	border-style: none;/*Removendo borda*/
	background-color: rgba(51, 0, 255, 1.0);/*Cor de fundo*/
	display: inline-block;/*Elementos na mesma linha*/
	color: white;/*Cor da letra*/
	width: 25px;/*Largura*/
	height: 25px;/*Altura*/
	margin-top: 5px;/*Margem a cima*/
}

.posicao{/*Endereços*/
	display: inline-block;/*Definindo que os elementos fiquem na mesma linha*/
	width: 450px;/*Definindo largura*/
	text-align: left;/*Alinhamento */
	vertical-align: top;/*alinhamento vertical*/
	margin-top: 20px;/*Margem a cima*/
}

.img_end{/*imagem google maps*/
	margin-left: 110px;/*Definindo margem a esquerda*/
	display: inline-block;/*Definindo que os elementos fiquem na mesma linha*/
	margin-top: 20px;/*Margem a cima*/
}

.posicao h2{/*Exemplo endereço*/
	display: inline-block;/*Definindo que os elementos fiquem na mesma linha*/
	vertical-align: top;/*Definindo alinhamento vertical*/
	margin-top: 5px;/*Definindo margem a cima*/
	text-align: left;/*Definindo alinhamento*/
}

.contate{/*Botão contate-nos*/
	margin-left: 15px;/*Definindo margem a esquerda*/
	margin-bottom: 5px;/*Definindo margem a baixo*/
	background-color: rgba(51, 0, 255, 1.0);/*Definindo cor de fundo*/
	color: white;/*Definindo cor da letra*/
	width: 100px;/*Definindo largura*/
	height: 30px;/*Definindo altura*/
	border-radius: 5px;/*Definindo borda arredondada*/
	border-style: none;/*Removendo a borda*/
	text-align: center;/*Definindo alinhamento*/
}

.endereco1{/*Endereço 1*/
	border-style: solid;/*Definindo estilo da borda*/
	border-color: rgba(51, 0, 255, 1.0);/*Definindo cor da borda*/
	border-radius: 16px;/*Definindo borda arredondada*/
	padding: 15px;/*Definindo espaçamento*/
	vertical-align: top;/*Definindo alinhamento vertical*/
}

.endereco1 h2, .endereco2 h2{/*Titulos*/
	font-size: 20px;/*Definindo tamanho da letra*/
	margin-right: 25px;/*Definindo margem a direita*/
	margin-left: 15px;/*Definindo margem a esquerda*/
}

.endereco1 p{/*Texto endereço */
	margin-left: 15px;/*Definindo margem a esquerda*/
}

.endereco2{/*Endereço 2*/
	border-style: solid;/*Definindo estilo da borda*/
	border-color: rgba(51, 0, 255, 1.0);/*Definindo cor da borda*/
	border-radius: 16px;/*Definindo borda arredondada*/
	padding: 15px;/*Definindo espaçamentos*/
	margin-top: 5px;/*Definindo margem a cima*/
}/*Final do endereço*/

.inscreva{/*Div inscreva-se*/
	margin-bottom: 25px;/*Definindo margem a baixo*/
	margin-top: 25px;/*Definindo margem a cima*/
	width: 1080px;/*Definindo largura*/
	text-align: center;/*Definindo alinhamento*/
	background-color: rgba(51, 0, 255, 1.0);/*Definindo cor de fundo*/
	line-height: 25px;/*Definindo espaçamento entre as letras*/
}

.inscreva h5{/*Exemplo 2*/
	color: white;/*Definindo cor*/
}

.inscreva h2{/*Texto Fique por dentro*/
	color: white;/*Definindo cor*/
}

.inscreva p{/*Texto inscreva-se em nosso site*/
	color: white;/*Definindo cor*/
}

.inscreva button{/*Botão inscreva-se*/
	background-color: white;/*Definindo cor de fundo*/
	font-weight: bold;/*Definindo estilo da fone como bold*/
	border-style: none;/*Removendo borda*/
	color: rgba(51, 0, 255, 1.0);/*Definindo cor da letra*/
	width: 100px;/*Definindo largura*/
	height: 25px;/*Definindo altura*/
	margin-bottom: 15px;/*Definindo margem a baixo*/
}

.inscreva input{/*Caixa de texto inscreva-se*/
	margin-top: 15px;/*Definindo margem ao topo*/
	height: 25px;/*Definindo altura*/
	border-radius: 4px;/*Definindo borda arredondada*/
	border-style: none;/*Removendo borda*/
	color: rgba(90, 90, 90, 1.0);/*Definindo cor da letra*/
	text-align: center;/*Definindo alinhamento*/
}

.final{/*Estilo do rodapé do site*/
	display: inline-block;/*Definindo que os elementos permaneçam na mesma linha*/
	text-align: center;/*Definindo alinhamento central*/
	width: 1080px;/*Definindo largura*/
	margin-top: 5px;/*Definindo margem ao topo*/
	height: 200px;/*Definindo altura*/
	color: black;/*Definindo cor da letra*/
}

.text_nav{/*exemplo site */
	vertical-align: top;/*Alinhamento vertical*/
	font-size: 12px;/*Tamanho da fonte da letra*/
	line-height: 25px;/*Definindo espaçamento entre as linhas*/
	text-align: center;/*Definindo alinhamento*/
	margin-top: 10px;/*Definindo marcem a cima*/
	width: 300px;
	display: inline-block;
}

.text_nav h2{/*Elemento titulo do text_nav(Exemplo de site)*/
	text-align: center;/*Definindo alinhamento*/
	color: rgba(51, 0, 255, 1.0);/*Definindo cor*/
}

.text_nav span{/*Definindo texto com duas cores (Exemplo do site)*/
	color: black;/*Definindo cor*/
}



.navegar {/*Links Rápidos*/
	font-size: 12px;/* Tamanho da fonte usada */
	line-height: 20px;/*Espaçamento entre as linhas*/
	text-align: left;/*Alinhamento do texto*/
	width: 180px;/*Tamanho da div*/
	margin-left: 300px;/*Margem a esquerda*/
	margin-bottom: 50px;/*Margem para baixo*/
	display: inline-block;/*Os elementos ficarem na mesma linha*/
	color: black;/*Cor de fundo*/
}

.suporte{/*Companhia*/
	font-size: 12px;/*Definindo tamanho da letra*/
	line-height: 20px;/*Definindo espaçamento entre as linhas*/
	width: 180px;/*Definindo largura*/
	text-align: left;/*Definindo alinhamento para a esquerda*/
	display: inline-block;/*Definindo que os elementos fiquem na mesma linha*/
	margin-left: 8px;/*Definindo margem a esquerda*/
}

.div_suporte{/*Definindo atributos para companhia*/
	margin-top: 10px;/*Definindo margem do topo*/
	line-height: 25px;/*Definindo espaçamento entre linhas*/
}

.div_nav{/*Definindo atributos para links rápidos*/
	margin-top: 10px;/*Definindo margem do topo*/
	line-height: 25px;/*Definindo espaçamento entre linhas*/
}

.final a{/*Definindo cor dos links e tirando o sublinhado*/
	text-decoration: none;/*Removendo o sublinhado dos links*/
	color: black;/*Definindo a cor da letra*/
}/*Estilo rodapé do site*/

.final2{/*Definindo barra final do rodapé*/
	width: 1080px;/*Definindo largura*/
	height: 20px;/*Definindo altura*/
	background: rgba(51, 0, 255, 1.0);/*Definindo cor de fundo*/
	color: white;/*Definindo cor da letra*/
	text-align: center;/*Definindo alinhamento como central*/
}

.final2 h2{/*Definindo texto da barra final do rodapé*/
	margin-right: 15px;/*Definindo margem a direita*/
	font-size: 15px;/*Definindo tamanho da letra*/
}/*Ultima linha da estilização do rodapé*/